body {
   font-family: "Times New Roman", Georgia, Serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Playfair Display";
   letter-spacing: 5px;
}
.text_banner1 {
   color: #d5c4a0;
   font-size: 40px;
   position: absolute;
   top: 192px;
   left: 412px;
   font-family: sans-serif;
}
.text_banner2 {
   color: #d5c4a0;
   font-size: 15px;
   position: absolute;
   top: 261px;
   left: 329px;
   font-family: sans-serif;
}
.line1 {
   width: auto;
   height: 1px;
   background-color: #dfdddd;
}
.line2 {
   width: auto;
   height: 1px;
   background-color: #dfdddd;
}
.img_anh1 {
   margin-top: 20px;
}

.link_dangky {
   color: rgb(231 169 91 / 93%);
}
.text_dangky1 {
   margin-bottom: 250px;
}

.text_mean {
   display: flex;
}
.text_tong {
   display: flex;
}
.text_doingu {
   flex: 50%;
}

@media (max-width: 600px) {
   .text_mean {
      display: flex;
      flex-direction: column;
   }
   .head_banner {
      display: none;
   }
   .text_tong {
      display: flex;
      flex-direction: column;
   }
   .text_doingu {
      margin: 0 20px;
   }
   .text_doitac {
      margin: 0 20px;
   }
   .img_anh3 {
      margin-top: 10px !important;
   }
   .register {
      flex-wrap: wrap;
   }
   .register1 {
      width: 100% !important;
      height: 270px;
   }
   .register2 {
      width: 100% !important;
   }
}

.img_anh3 {
   margin-top: 100px;
}
.register {
   display: flex;
}
.register1 {
   width: 69%;
}
.register2 {
   width: 50%;
}
